## Print Statements:

- print is an inbuilt function which comes in Green color. Which make the answer visible.
- In Jupyter NoteBook if we want to see latest value then it can be acheived simply shift+enter, however if we want to see all the values then we need to use print statement.
- in VS Code and PyCharm, there is no Markdown option, if we want to see any answer there we have to use print statement only.

**Format Method:**

- ex. if we want to present "The addition of 10 and 20 is 30." In order to acheive this we need to do the below: 
    - First write all the statement like: The addition of 10 and 20 is 30.
    - Then replace the variable value with {}, in this case. The addition of {} and {} is {}
    - Then add '.format(var1, var2,var3) at the end of the print statement. In this case: print('The addition of {} and {} is {}.'.format(a,b,c))

**F String Method:**

- ex. if we want to present "The addition of 10 and 20 is 30." In order to acheive this we need to do the below: 
    - First write all the statement like: The addition of 10 and 20 is 30.
    - Then replace the variable value with {}, in this case. The addition of {} and {} is {}
    - Then add 'f' at the start of the value inside print and in curly braces put the variable names. In this case: print(f'The addition of {a} and {b} is {c}.')

**end='' Method:**

- This method is used when we need output in our demand like 10 and 20 , 10&20,  10 ---> 20 etc
- In this we do like below : print(var1,end=' and ')
                            print(var2)
                            This will give us output as 10 and 20.

**Separator Method:**

- This method is used when we need to separate the values with some separator like & (10 & 20 & 30) or arrows (10 --> 20 --> 30)
- In this we do like below : print(var1,var2,var3,sep=' and ')    This will give us output as 10 and 20 and 30.

**Examples**

**Normal Method**

In [2]:
num1=100
num2=200

In [4]:
num1
num2

200

In [6]:
print(num1)
print(num2)

100
200

In [8]:
print(num1,num2)

100 200

In [10]:
print(10,20,'Rahul',78)

10 20 Rahul 78

In [12]:
print('Hello','Bye')

Hello Bye

In [14]:
print('Hello','Bye',num1,num2,20,30)

Hello Bye 100 200 20 30

In [16]:
a=10
b=20
c=a+b
print('Addition of a and b is',c)

Addition of a and b is 30

In [18]:
a=10
b=20
c=a+b
print('Addition of "a and b" is',c)

Addition of "a and b" is 30

In [20]:
a=10
b=20
c=a+b
print("Addition of 'a and b' is",c)

Addition of 'a and b' is 30

In [22]:
a=10
b=20
c=a+b
print('Addition of',a,'and', b, 'is',c)

Addition of 10 and 20 is 30

In [24]:
a=102
b=205
c=a+b
print('Addition of',a,'and', b, 'is',c)

Addition of 102 and 205 is 307

In [28]:
name = 'Rahul'
city = 'Jaipur'
age = 35
print('My name is',name,',I am',age,'years old and I come from',city)

My name is Rahul ,I am 35 years old and I come from Jaipur

**Format Method**

In [41]:
a=10
b=20
c=a+b
print('Addition of {} and {} is {}.'.format(a,b,c))

Addition of 10 and 20 is 30.

In [46]:
name = 'Rahul'
city = 'Jaipur'
age = 35
print('My name is {}, I am {} years old and I come from {}.'.format(name,age,city))

My name is Rahul, I am 35 years old and I come from Jaipur.

In [52]:
a=20
b=4
sum=a+b
subs=a-b
mul=a*b
div=a/b
print('The addition of {} and {} is {}.'.format(a,b,sum))
print('The substraction of {} and {} is {}.'.format(a,b,subs))
print('The multiplication of {} and {} is {}.'.format(a,b,mul))
print('The division of {} and {} is {}.'.format(a,b,int(div)))

The addition of 20 and 4 is 24.
The substraction of 20 and 4 is 16.
The multiplication of 20 and 4 is 80.
The division of 20 and 4 is 5.

In [54]:
a=20
b=4
sum=a+b
subs=a-b
mul=a*b
div=a/b
print('The addition of {} and {} is {}.'.format(a,b,sum))
print('The substraction of {} and {} is {}.'.format(a,b,subs))
print('The multiplication of {} and {} is {}.'.format(a,b,mul))
print('The division of {} and {} is {}'.format(a,b,div))

The addition of 20 and 4 is 24.
The substraction of 20 and 4 is 16.
The multiplication of 20 and 4 is 80.
The division of 20 and 4 is 5.0

In [58]:
print('The addition is {}, substraction is {}, multiplication is {} and division is {}'.format(sum,subs,mul,div) )

The addition is 24, substraction is 16, multiplication is 80 and division is 5.0

**F String Method: print(f'The addition is {a} and {b} is {c}')**

In [62]:
print(f'The addition is {sum}, substraction is {subs}, multiplication is {mul} and division is {div}')

The addition is 24, substraction is 16, multiplication is 80 and division is 5.0

In [64]:
name = 'Rahul'
city = 'Jaipur'
age = 35
print(f'My name is {name}, I am {age} years old and I come from {city}.')

My name is Rahul, I am 35 years old and I come from Jaipur.

**end=('') Method:**

In [83]:
print(name,end=' and ')
print(age)

Rahul and 35

In [75]:
print(name,end=(' ----> '))
print(age)

Rahul ----> 35

In [81]:
print(name,end=' ----> ')
print(age, end=' ----> ')
print(city)

Rahul ----> 35 ----> Jaipur

**Separator Method: print(var1, var2, var3, sep='-->')**

In [87]:
print(name,age,city,sep=' --> ')

Rahul --> 35 --> Jaipur